
input[type="checkbox"] {
  display: block;
  float: left;
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  + label {
    display: table;
  }
}

.navbar-nav {
  flex-direction: row;
  > li + li {
    margin-left: 1rem;
  }
}

#navbarDropdown {
  padding-top: 0;
  padding-bottom: 0;
}

.rub {
  &:after {
    content: '\20BD';
  }
}