.works-list {
  padding: 0;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  @include box-shadow($input-box-shadow);
  @include transition($input-transition);

  .works-list__type {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
    background: #eee;
  }

  .works-list__item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-bottom: 1px solid #ddd;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

}