.employee-balance {
  display: flex;
  flex-direction: row;
  align-items: center;

  .employee-balance__label {
    font-weight: 700;
    margin-right: 0.5rem;
  }
  .employee-balance__value {
    font-size: 1.8rem;
  }
}