@media screen and (max-width:566px) {
.orders-list > .row:first-child {
    display: none;
}
.orders-list .row {
    border-bottom: solid 1px #ddd;
}
.orders-list .col-sm-1,
.orders-list .col-sm-2 {width:50%;}

}