.hidden {
    display: none;
}

.option-space {
    white-space: pre-wrap !important;
}

.input-count {
    display: flex;

    .input-count__input {
        flex-shrink: 1;
    }

    .input-count__inc {
        display: block;
        margin: auto;
        margin-left: 0.3rem;
        font-size: 1.5rem;
        color: #555555;
        cursor: pointer;
    }

    .input-count__dec {
        display: block;
        margin: auto;
        margin-right: 0.3rem;
        font-size: 1.5rem;
        color: #555555;
        cursor: pointer;
    }
}