
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~air-datepicker/dist/css/datepicker.css';

@import "~font-awesome/scss/font-awesome.scss";

@import "./_common.scss";

@import "../team/employees-team-list.scss";
@import "../order/works-list.scss";
@import "../order/works-fast-access.scss";
@import "../order/common.scss";
@import "../order/payment-types.scss";

@import "../common/autocomplete.scss";

@import "../common/return.scss";
@import "../common/carNumber/car-number.scss";

@import "./base/_employees.scss";
@import "./modules/_employees.scss";

@import "../common/server-notifications.scss";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex: 1;
}