
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~air-datepicker/dist/css/datepicker.css';

@import "~font-awesome/scss/font-awesome.scss";

@import "./_common.scss";

@import "modules/_admin.scss";
@import "../superAdmin/employees.scss";
@import "../superAdmin/orders.scss";
@import "../superAdmin/employe-card.scss";
@import "../superAdmin/car-wash-works.scss";
@import "../superAdmin/car-wash-contracts.scss";
@import "../superAdmin/employee-balance.scss";
@import "../superAdmin/service-centers.scss";
@import "../superAdmin/spreadsheet.scss";
@import "../superAdmin/employee-phones.scss";
@import "../superAdmin/sort-field.scss";
@import "../common/carNumber/car-number.scss";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

input[type="color"] {
  height: 40px;
}

.app-content {
  flex: 1;
}

.rub {
  &:after {
    content: '\20BD';
  }
}