.cost {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__label {
    font-weight: 700;
    margin-right: 0.5rem;
  }
  &__value {
    font-size: 1.8rem;

    &:after {
      content: '\00a0\20BD';
    }
  }
}