

.filter {
  @extend .card, .mb-3;

  &__header {
    @extend .card-header;
  }

  &__body {
    @extend .card-body;
  }

  &__fields {
    @extend .row;
  }

  &__field {
    @extend .col-sm-12, .col-md-4, .form-group;
    margin-bottom: 0;
    margin-top: 10px;
  }

  &__button {
    @extend .btn, .btn-primary;
  }

  &__label {
    @extend .col-form-label;
    padding-top: 0;
    padding-bottom: 0;

    &_empty {
      @extend .d-none, .d-md-block;
    }
  }

  &__value {
    @extend .form-control;
  }
}