

.list {
  @extend .row, .card-body;
  padding-top: 0;

  &__row {
    @extend .col-12;
    margin-top: 1.5rem;
    border-top: 1px solid #c1c0c0;
    padding-top: 1.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    background: #eeeeee;
  }

  &__item {
    @extend .col-sm-12, .col-md-6;
    margin-top: 1.5rem;
    border-top: 1px solid #c1c0c0;
    padding-top: 1.2rem;
  }

  &__row + &__item {
    margin-top: 0;
  }

  &__header {
    @extend .mb-0, .h5;
  }

  &__attribute {
    @extend .mb-0;
  }
}