.navbar {
  @extend .navbar, .navbar-expand-lg, .navbar-dark, .bg-dark;
  &__brand {
    @extend .navbar-brand;
    mix-blend-mode: difference;
  }
  &__toggler {
    @extend .navbar-toggler;
    mix-blend-mode: difference;
  }
  &__links {
    @extend .collapse, .navbar-collapse;
    mix-blend-mode: difference;
  }
}