.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;

  .autocomplete__items {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
      max-height: 300px;
      width: 100%;
      overflow-y: auto;
      position: absolute;
      z-index: 99;

      :nth-child(2n) {
          background-color: #eee;
      }
  }

  .autocomplete__items_hidden {
      display: none;
  }
}