.server-notifications {
  @extend .container;

  position: fixed;
  bottom: 0.5rem;
  left: 0;
  right: 0;

  &__alert {
    @extend .alert, .alert-danger, .alert-dismissible, .fade, .show;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
}